body {
	color: black;
	background-image: url("images/treeee.jpg");
}

title {
	border-style: ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
}
p {
	color: turquoise;
	background-color: #3d548a;
	font-family: arial, helvetica, serif;
}
nav {
	background-color: #00D0FF;
}
nav a{
	color: black;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}
nav li {
	display: incline;
}