body {
	color: black;
	background-image: url("images/treeee.jpg");
}

title {
	border-style: ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
	list-style-type: none;
	box-shadow: 10px 10px 5px  #E9EBF2;
}
p {
	color: black;
	font-family: arial, helvetica, serif;
	background-color: gold;
}
nav {
	background-image: url("images/207326-bigthumbnail.jpg");
}
nav a{
	color: Blue;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

nav li {
	display: inline;
	padding-right: 100px;
}
.shadow{
	box-shadow: 20px 20px 8px  #2B1F1F;
}

.shadow2{
	box-shadow: 25px 25px 10px  #63050B;
}
.shadow3{
	box-shadow: 21px 21px 9px  #C7CAD1;
}
.shadow4{
	box-shadow: 25px 25px 10px  #5F7ABA;
}
nav{
    box-shadow: 10px 10px 5px #888888;
}
	